// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";


$period: 6s;

@-moz-keyframes rotating
{
  0% {
    -moz-transform: rotate(0deg) translate(32px);
  }
  100% {
    -moz-transform: rotate(360deg) translate(32px);
  }
}

@-moz-keyframes growing
{
  0% {
    -moz-transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
  }
}

@-moz-keyframes mirror
{
  100% {
    -moz-transform: rotateX(180);
  }
}



@mixin mytheme {
  @include valo;

  .v-ui{
    background: -moz-linear-gradient(black, #00ace0); /* For Firefox 3.6 to 15 */
    background: -webkit-linear-gradient(black, #00ace0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #00ace0); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(black, dimgrey); /* Standard syntax */
  }
  // Insert your own theme rules here
  .spacetime {
  }

  .logo {
  }

  .sun {
    border-radius: 50%;
    opacity: .85;
    background: -webkit-linear-gradient(greenyellow, orangered, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(greenyellow, orangered, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(greenyellow, orangered, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(greenyellow, orangered, transparent); /* Standard syntax */
    position: absolute;

    -webkit-animation: rotating $period linear infinite;
    -moz-animation: rotating $period linear infinite;
    -o-animation: rotating $period linear infinite;
    animation: rotating $period linear infinite;
  }

  .stars{
    background: red;
  }
  .star {
    border-radius: 50%;
    background: whitesmoke;
  }


  .portal-background {
  }

  .portal {
    color: white;
    opacity: 1;
  }

  .portal-name {
    font-size: x-large;
    font-weight: bold;
    opacity: 1;
  }

  .menu {
    .spacetime-button {
      background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,.5)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,.5)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,.5)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,.5)); /* Standard syntax */
      opacity: 1;
    }
  }

  .spacetime-button {
    color: white;
    font-weight: bold;
    opacity: 1;
  }

  .bar {
    background: -webkit-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,0,0,0),rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,0,0,0),rgba(255,0,0,1)); /* Standard syntax */
  }

  .number {
    border-radius: 50%;
  }

  .chart {
    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /* Standard syntax */

    -webkit-animation: mirror $period linear infinite;
    -moz-animation: mirror $period linear infinite;
    -o-animation: mirror $period linear infinite;
    animation: mirror $period linear infinite;
  }

  .chart:hover {
    width: 500px;
  }

  .random-color {
    background: -webkit-linear-gradient(rgba(random(255),random(255),random(255),1), rgba(random(255),random(255),random(255),.5)); /* For Safari 5.1 to 6.0 */
    background:      -o-linear-gradient(rgba(random(255),random(255),random(255),1), rgba(random(255),random(255),random(255),.5)); /* For Opera 11.1 to 12.0 */
    background:    -moz-linear-gradient(rgba(random(255),random(255),random(255),1), rgba(random(255),random(255),random(255),.5)); /* For Firefox 3.6 to 15 */
    background:         linear-gradient(rgba(random(255),random(255),random(255),1), rgba(random(255),random(255),random(255),.5)); /* Standard syntax */

  }

}
