// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
@-moz-keyframes rotating1
{
  0% {
    -moz-transform: rotate(0deg) translate(300px);
  }
  100% {
    -moz-transform: rotate(360deg) translate(300px);
  }
}

@-moz-keyframes rotating2
{
  0% {
    -moz-transform: rotate(0deg) translate(300px);
  }
  100% {
    -moz-transform: rotate(360deg) translate(300px);
  }
}

@-moz-keyframes rotating3
{
  0% {
    -moz-transform: rotate(0deg) translate(300px);
  }
  100% {
    -moz-transform: rotate(360deg) translate(300px);
  }
}

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .spacetime {
    background: -webkit-linear-gradient(black, #00ace0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #00ace0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #00ace0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, dimgrey); /* Standard syntax */
    opacity: .75;
  }

  .logo {
    border-radius: 50%;
    opacity: .85;
    background: -webkit-linear-gradient(greenyellow, orangered, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(greenyellow, orangered, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(greenyellow, orangered, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(greenyellow, orangered, transparent); /* Standard syntax */
    position: absolute;
  }

  .portal {
    background: transparent;
    opacity: 1;
    color: white;
  }

  .portal-name {
    font-size: large;
    font-weight: bold;
  }
}
